<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="691605833097-kja5e3fmpnrp8uunsh70ot5lj562pbs9.apps.googleusercontent.com">
</head>
<body>
<div class="container-fluid">
    <form method="post" action="/new_password">
        <input name="token" id="token" type="hidden" class="form-control" value="{{ .Token }}"/>
        <div class="form-group">
            <label for="password">New Password</label>
            <input name="password" id="password" type="password" class="form-control" required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Set new password</button>
        </div>
    </form>
</div>
</body>
</html>