<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="691605833097-kja5e3fmpnrp8uunsh70ot5lj562pbs9.apps.googleusercontent.com">
</head>
<body>
<style>
    #map {
        height: 30%;
    }
</style>
<div class="container-fluid">
    <input type="hidden" id="user_id" name="user_id" value="{{ .UserId }}"/>
    <div class="form-group">
        <label for="email">Email</label>
        <input name="email" id="email" class="form-control" value="{{ .Email }}" required/>
    </div>
    <div class="form-group">
        <label for="full_name">Full Name</label>
        <input name="full_name" id="full_name" class="form-control" value="{{ .Profile.FullName }}" required/>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input name="address" id="address" class="form-control" value="{{ .Profile.Address }}"/>
    </div>
    <div>
        Click in the map to use as address. or click to marker to remove and fill address field to use as an address.
        <div id="map"></div>
    </div>
    <div class="form-group">
        <label for="telephone">Telephone Number</label>
        <input name="telephone" id="telephone" class="form-control" type="tel" value="{{ .Profile.Telephone }}"/>
    </div>
    <div class="form-group">
        <button id="save" name="save" class="btn btn-primary">Save</button>
    </div>

</div>
<script src="/dist/edit_profile.bundle.js">
</script>
<script>
    function initMap() {
        console.log("init map")
        let position = {
            lat: {{ .Profile.Lat }},
            lng: {{ .Profile.Long }}
        };

        window.app.InitMap(position);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBitJ-KDaR1C3deo4_KWYQQiCxCCVTyNfs&callback=initMap"></script>
</body>
</body>
</html>