<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <meta name="google-signin-client_id"
          content="691605833097-kja5e3fmpnrp8uunsh70ot5lj562pbs9.apps.googleusercontent.com">
</head>
<body>
<style>
    #map {
        height: 30%;
    }
</style>
<div class="container-fluid">
    <table class="table">
        <tr>
            <td>Email</td>
            <td>{{ .Email }}</td>
        </tr>
        <tr>
            <td>Full name</td>
            <td>{{ .Profile.FullName}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ .Profile.Address }}</td>
        </tr>
        <tr>
            <td>Telephone number</td>
            <td>{{ .Profile.Telephone }}</td>
        </tr>
    </table>

    <div id="map"></div>
    <div>
        <a href="/profile/edit">
            <button class="btn btn-primary">Edit Profile</button>
        </a>
        <a href="#" onclick="signOut();">Sign out</a>
    </div>
</div>
<script src="/dist/profile.bundle.js"></script>
<script>
    let map;
    const position = {
        lat: {{ .Profile.Lat }},
        lng: {{ .Profile.Long }}
    };

    let app = new ProfilePage(position);
    app.InitAuth();
    window.initMap = app.InitMap.bind(app);
    window.signOut = app.SignOut.bind(app);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBitJ-KDaR1C3deo4_KWYQQiCxCCVTyNfs&callback=initMap"
        async defer></script>
</body>
</html>